@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

.heart-shape {
  @apply bg-[#d62828] inline-block h-[30px] w-[30px] rotate-[-45deg] relative;
}
.heart-shape::before,
.heart-shape::after {
  content: "";
  @apply bg-[#d62828] rounded-full h-[30px] w-[30px] absolute;
}
.heart-shape::before {
  top: -15px;
  left: 0;
}
.heart-shape::after {
  top: 0;
  left: 15px;
}