
@import "tailwindcss";

@theme {
    --font-prompt: "Prompt", sans-serif; 
}

body {
  @apply font-prompt;
}
.heart-shape {
  @apply bg-[#d62828] inline-block h-[30px] w-[30px] rotate-[-45deg] relative;
}
.heart-shape::before,
.heart-shape::after {
  content: "";
  @apply bg-[#d62828] rounded-full h-[30px] w-[30px] absolute;
}
.heart-shape::before {
  top: -15px;
  left: 0;
}
.heart-shape::after {
  top: 0;
  left: 15px;
}